:root{
    --font-color:#73879c;
    --heading-color:#506A8D;
    --hover-color:#00BC9C;
    --primary-background-color:#F5F7FA;
    --font-text: 'Source Sans 3', sans-serif;
    --icon-color:#506a85;
}


*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-size: 35px;
}
h3{
    font-size:20px ;
}
h4{
    font-size: 18px;
}
h1,h2,h3,h4{
    font-family: var(--font-text);
}
body{
    font-family: var(--font-text);
}

/* header top css start here  */
.header-top{
    height: 50px;
    line-height: 50px;
    background-color: var(--primary-background-color);
}
.header-top-left{
display: flex;
gap: 16px;
align-items: center;
}
.header-top-left a{
color: var(--font-color);
font-family: var(--font-text);
font-weight: 600;
}
.header-top-left i{
    padding-right: 6px;
    color: var(--icon-color);
}

.phone-left i{
    font-size: 11px;
}

 .social-icon{
    text-align: end;


}
 .social-icon li {
    display: inline-block;
}
.social-icon li a {
    font-size: 14px;
    display: inline-block;
    padding: 0 6px;
    color: var(--icon-color);
    transition: all 0.3s;
}
.social-icon li a:hover{
    color: var(--hover-color);
}

/* header top css end here  */

/* header css start here  */
.header{
    padding: 20px 0;
}

.header .navbar-nav li .nav-link{
    padding: 0 17px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.header .navbar-nav li .nav-link:hover{
    color: var(--hover-color);
}
.header .navbar-nav li a:active{
    color: var(--hover-color);
}

/* header css end here  */

/* carousel start here */
.carousel-item{
    position: relative;
}
.carousel-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.carousel-content h1{
    color: #F5F7FA;
    letter-spacing: 2px;
}
.carousel-content p{
    color: var(--font-color);
    padding-bottom: 65px;
}
.carousel-content a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #00bc9c;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    border: 1px solid transparent;
    
}
.carousel-content a:hover{
    background-color: transparent;
    border: 1px solid #00BC9C;
    color: var(--hover-color);
}
/* carousel end here */

/* code section css start here  */
.code {
background-color: #ffff;
}
.code-content{
    padding-top: 88px;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-bottom: 65px;
}
.code-content h2{
    color: var(--heading-color);
    font-weight: 600;
}

.code-content p{
    font-size: 16px;
    color: var(--font-color);
}
.card-item{
    display: flex;
    gap: 12px;
    padding-bottom: 100px;
    
}
.card-item img{
  width: 61px;
  height: 53px;
}

.card-content h3{
    font-weight: 600;
    padding-bottom: 8px;
    color: var(--heading-color);
}
.card-content p{
    font-size: 14x;
    color: var(--font-color);
}
/* code section css end here  */


/* work section css start here  */
.work{
  
    background: var(--primary-background-color);
    padding-bottom: 95px;
}
.work-content{
    padding-top: 88px;
    padding-bottom: 65px;
    width: 50%;
    text-align: center;
    margin: auto;
}
.work-content h2{
    
    color: var(--heading-color);
    font-weight: 600;
}
.work-content p{
    font-size: 16px;
    color: var(--font-color);
}
.work-card{
    background-color: #ffff;
    text-align: center;
   
}
.work-card img{
    width: 100%;
}
.work-card h3{
    font-weight: 600;
    color: var(--heading-color);
    padding-top: 30px;
}
.work-card p{
    padding-bottom: 25px;
    color:var(--font-color);
}

.over-card img{
    width: 100%;
    
}
/* work section css end here  */

/* work us css start here  */
.work-us-content{
    width: 50%;
    text-align: center;
    margin: auto;
    padding-bottom: 70px;
}

.work-us-content h2{
    color: var(--heading-color);
    font-weight: 600;
    padding-bottom: 20px;
}
.work-us-content p{
    padding-bottom: 30px;
    font-size: 16px;
    color: var(--font-color);
}
.work-us-content a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #00bc9c;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.work-us-content a:hover{
    background-color: transparent;
    border: 1px solid #00BC9C;
    color: var(--hover-color);
}
/* work us css end here  */

.footer{
    padding: 80px 0;
    background-color:#2f4052; 
}
.we-content h3{
    letter-spacing: 2px;
    font-weight: 700;
    color: #ffff;
    padding-bottom: 18px;
}
.we-content img{
    padding-bottom: 18px;
}
.we-content p{
    font-size: 14px;
    color: #a3b1bf;
}
.works img {
    padding: 0 8px;
}
.foot-img img{
    width: 50%;
}
.foot-img{
    display: flex;
    gap: 8px;
}
.latest-works h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: #ffff;
    padding-bottom: 18px;

}

.get-in h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: #ffff;
    padding-bottom: 18px;
}

.get-in p{
    font-size: 14px;
    color: #a3b1bf;
}

.address li {
    font-size: 14px;
    color: #a3b1bf;
}

.address li i {
padding-right: 8px;
font-size: 11px;
}

.update h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: #ffff;
    padding-bottom: 18px;
}

.update p {
    font-size: 14px;
    color: #a3b1bf;
}

.update a {
    position: absolute;
    bottom:4px;
    right: 2px;
    background-color: #00bc9c;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid #00bc9c;
    display: inline-block;
    padding: 5px 15px ;
    border-radius: 4px;
    cursor: pointer;
}
.update form{
    position: relative;
}
.update .form-control {
    background-color: #4e5c6c;
    color: #828e99;
    padding: 10px;
    border: none;
}
.update form ::placeholder{
    font-size: 13px;
}

.footer-bottom{
    background-color: #283645;
    height: 70px;
   
}

.footer-left{
padding-top: 25px;
}
.footer-right{
    padding-top: 25px;
}

.menu-footer li{
    color: #616f7d;
    display: inline-block;
    padding: 0 9px;
}
.footer-left p{
    font-size: 14px;
    color: #616f7d;

}
.menu-footer li i{
    font-size: 5px;
    padding-right: 16px;
}